<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<form method="post" action="/order">
    <input type="text" name="customerName" class="form-control order-input" placeholder="Введите ваше имя" />
    <input type="text" name="time">
    <input type="text" name="phone" />
    <p class="text-input">Вам на почту придет письмо с кодом, не потеряйте его</p>
    <div class="d-flex justify-content-end">
        <button type="submit" class="btn btn-secondary mt-2">Забронировать</button>
    </div>
</form>
</body>
</html>